<div class="container">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1>Welcome to Estimate Travel Cost</h1>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <h2>Eco-friendly Cost Estimation Calculator</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="calc-form" [formGroup]="ecoForm">
        <div>

          <mat-form-field appearance="fill" class="form-element">
            <mat-label>Cabin Class</mat-label>
            <mat-select formControlName="travelClass">
              <mat-option *ngFor="let cabin of cabinClasses" [value]="cabin.value">
                {{cabin.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="form-element">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker" formGroupName="travelDateRange" [min]="minDate" [max]="maxDate">
              <input matStartDate placeholder="Start date" formControlName="startDate" required>
              <input matEndDate placeholder="End date" formControlName="endDate" required>
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
            <mat-error *ngIf="ecoForm.get('travelDateRange')?.get('startDate')?.hasError('matStartDateInvalid')">
              Invalid start date.
            </mat-error>
            <mat-error *ngIf="ecoForm.get('travelDateRange')?.get('endDate')?.hasError('matEndDateInvalid')">
              Invalid end date.
            </mat-error>
            <mat-error *ngIf="ecoForm.get('travelDateRange')?.get('startDate')?.invalid || ecoForm.get('travelDateRange')?.get('endDate')?.invalid">
              Valid date required.
            </mat-error>

          </mat-form-field>
        </div>

        <div>

          <mat-form-field appearance="fill" class="form-element">
            <mat-label>Conference City</mat-label>
            <mat-select formControlName="sites" multiple>
              <mat-option *ngFor="let city of cities" [value]="city.city_id">
                {{city.city + ', ' + city.state + ' (' + city.code + ')'}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!--<mat-form-field appearance="fill" class="form-element">
            <mat-label>Travellers City</mat-label>
            <mat-select formControlName="travellersCity" multiple>
              <mat-option *ngFor="let city of cities" [value]="city.city_id">
                {{city.city + ', ' + city.state + ' (' + city.code + ')'}}
              </mat-option>
            </mat-select>
          </mat-form-field>-->
          <mat-chip-list #chipList aria-label="City selection">
            <mat-chip
              *ngFor="let city of selectedCities"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(city)">
              {{city.city}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Selected cities..."
              #cityInput
              #autocompleteTrigger="matAutocompleteTrigger"
              [formControl]="cityCtrl"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>

          <mat-form-field  appearance="fill" class="form-element example-full-width">
            <input type="text" placeholder="Travellers City" aria-label="Travellers City" matInput formControlName="travellers"
                   [matAutocomplete]="auto" (ngModelChange)="getFilteredCities()">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selected($event)">
              <mat-option *ngFor="let city of filteredCities | async" [value]="city">
                {{city.city + ', ' + city.state + ' (' + city.code + ')'}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <div class="form-element action-btns">
            <button mat-raised-button color="primary" type="submit" class="button btn"
                    (click)="onSubmit()" [disabled]="!ecoForm.valid">Submit</button>
          </div>
        </div>

      </form>
    </mat-card-content>
    <mat-card-actions>
<!--      <button mat-button>LIKE</button>-->
<!--      <button mat-button>SHARE</button>-->
    </mat-card-actions>
  </mat-card>

  <img *ngIf="loading" style="padding:20px" src="../../../assets/loading.gif" width=50 height=50/>

  <mat-card class="page-header"  *ngIf="dataSource.data.length > 0 && !loading">
    <mat-card-content>
      <div>
        <h3> Please download Analysis reports in the required format!!</h3>
        <button mat-raised-button color="primary" class="button btn download-btn m-l-0" (click)="exporter.exportTable('xlsx', {fileName:'test', sheet: 'sheet_name'})">Excel Analysis Report</button>
        <button mat-raised-button color="primary" class="button btn download-btn" (click)="exporter.exportTable('csv')">Csv Analysis Report</button>
        <button mat-raised-button color="primary" class="button btn download-btn" (click)="exporter.exportTable('json')">Json Analysis Report</button>
        <button mat-raised-button color="primary" class="button btn download-btn" (click)="exporter.exportTable('txt')">Txt Analysis Report</button>

        <table mat-table matTableExporter
              [dataSource]="dataSource" #exporter="matTableExporter"
               class="mat-elevation-z8 results-tbl" matSort (matSortChange)="announceSortChange($event)">

          <ng-container matColumnDef="dest_city_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="dest_city_id" sortActionDescription="Sort by dest_city_id"> City ID </th>
            <td mat-cell *matCellDef="let element"> {{element.city_id }} </td>
          </ng-container>

          <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="city" sortActionDescription="Sort by city"> City </th>
            <td mat-cell *matCellDef="let element"> {{element.city}} </td>
          </ng-container>


          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="state" sortActionDescription="Sort by state"> State </th>
            <td mat-cell *matCellDef="let element"> {{element.state}} </td>
          </ng-container>


          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="code" sortActionDescription="Sort by code"> Code </th>
            <td mat-cell *matCellDef="let element"> {{element.code}} </td>
          </ng-container>

          <ng-container matColumnDef="airfare">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="airfare" sortActionDescription="Sort by airfare"> Airfare </th>
            <td mat-cell *matCellDef="let element"> {{element.airfare}} </td>
          </ng-container>

          <ng-container matColumnDef="co2">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="co2" sortActionDescription="Sort by co2"> Co2 </th>
            <td mat-cell *matCellDef="let element"> {{element.co2}} </td>
          </ng-container>

          <ng-container matColumnDef="perdiem">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="perdiem" sortActionDescription="Sort by perdiem"> Perdiem </th>
            <td mat-cell *matCellDef="let element"> {{element.perdiem}} </td>
          </ng-container>

          <ng-container matColumnDef="monetaryCost">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="monetoryCost" sortActionDescription="Sort by monetoryCost"> Monetary Cost </th>
            <td mat-cell *matCellDef="let element"> {{element.monetoryCost}} </td>
          </ng-container>

          <ng-container matColumnDef="effectiveCost">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="effectiveCost" sortActionDescription="Sort by effectiveCost"> Effective Cost </th>
            <td mat-cell *matCellDef="let element"> {{element.effectiveCost }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </div>

    </mat-card-content>
  </mat-card>
</div>
